@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  --bg-color: #1976d2;
  --font-color: #f5f5f5;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 2rem;
  font-family: "Roboto", sans-serif;
  background-color: var(--bg-color);
}

form {
  display: flex;
  flex-direction: column;
  max-width: 20rem;
  margin: 0 auto;
}
.input-wrapper {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-bottom: 1rem;
}
